In [133]:
import pandas as pd #Biblioteca para analise de dados
import pyodbc as pyo #Biblioteca para acessar o banco de dados
import seaborn as sns #Biblioteca Grafica
import matplotlib.pyplot as plt #Biblioteca Grafica

In [134]:
plt.rcParams['figure.figsize'] = (15,11)

In [135]:
#Criar a string para o pyodbc acessar o banco de dados

#Driver que será utilizado no acesso:
driver = '{Microsoft Access Driver (*.mdb, *.accdb)}'

#Caminho até o banco de dados:
caminho = r"C:\estatisticas\estatistiaEnv\Database11.accdb"

cnn = pyo.connect(driver = driver, dbq = caminho) #String de conexao ao banco de dados

In [136]:
df = pd.read_sql('select * from Precos', cnn) #Abre o banco de dados utilizando o Pandas como leitor
dados = df.copy() #Cria uma cópia de segurança dos dados.count
cnn.close() #Encerra a comunicação com o arquivo .accdb

C:\Users\weslley.pereira\AppData\Local\Temp\ipykernel_68440\727245499.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from Precos', cnn) #Abre o banco de dados utilizando o Pandas como leitor

In [137]:
dados.head()

Empty DataFrame
Columns: [Região-Sigla, Estado-Sigla, Municipio, Revenda, CNPJ da revenda, Nome da Rua, Número da Rua, Complemento, Bairro, Cep, Produto, Data da Coleta, Valor de Venda, Valor de Compra, Unidade de Medida, Bandeira]
Index: []

In [138]:
RegiaoS = pd.DataFrame(dados.loc[lambda dados: dados['Região-Sigla'] == 'S', :])

In [139]:
MG = pd.DataFrame(dados.loc[lambda dados: dados['Estado-Sigla'] == 'MG', :])
MG = MG.drop('Valor de Compra', axis=1)

In [140]:
MG.isna().sum()

Região-Sigla         0
Estado-Sigla         0
Municipio            0
Revenda              0
CNPJ da revenda      0
Nome da Rua          0
Número da Rua        0
Complemento          0
Bairro               0
Cep                  0
Produto              0
Data da Coleta       0
Valor de Venda       0
Unidade de Medida    0
Bandeira             0
dtype: int64

In [141]:
MG['Número da Rua'] = MG['Número da Rua'].fillna(0)
MG['Complemento'] = MG['Complemento'].fillna(0)
MG['Bairro'] = MG['Bairro'].fillna(0)
MG['Unidade de Medida'] = MG['Unidade de Medida'].fillna(0)
MG['Bandeira'] = MG['Bandeira'].fillna(0)

In [142]:
MG.dropna(inplace=True)

In [143]:
MG.isna().sum()

Região-Sigla         0
Estado-Sigla         0
Municipio            0
Revenda              0
CNPJ da revenda      0
Nome da Rua          0
Número da Rua        0
Complemento          0
Bairro               0
Cep                  0
Produto              0
Data da Coleta       0
Valor de Venda       0
Unidade de Medida    0
Bandeira             0
dtype: int64